ul {
    position: relative;
    margin-right: 80px;
    transform: rotate(-35deg) skew(20deg,5deg);
}

.list-item {
    background: #000;
    color: #575757;
    text-align: center;
    height: 2.5em;
    width: 4em;
    vertical-align: middle;
    line-height: 2.5em;
    border-bottom: 1px solid #060606;
    position: relative;
    display: block;
    text-decoration: none;
    box-shadow: -2em 1.5em 0 #e1e1e1;
    transition: all .25s linear;
}

.list-item:hover, .list-item.peaked {
     background: #ff6e42;
     color: #fffcfb;
     transform: translate(.9em, -.9em);
     transition: all .25s linear;
     box-shadow: -2em 2em 0 #e1e1e1;
}

.list-item:hover:before,
.list-item:hover:after {
     transition: all .25s linear;
}


.list-item:hover:after {
     background: none;
     width: 1em;
     bottom: -2.5em;
     left: 1em;
     height: 4em;
 }


.list-item:before,
.list-item:after {
     content: '';
     position: absolute;
     transition: all .25s linear;
     width: .5em;
 }
/**/

